<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="application">
</head>
<body>
    <header>
        <nav>   
            <a href="http://127.0.0.1:3000/home/index">Home</a>
            <a href="http://127.0.0.1:3000/empresas">Empresas</a>
            <a href="http://127.0.0.1:3000/funcionarios">Funcionários</a>
            <a href="http://127.0.0.1:3000/setors">Setores</a>
        </nav>
        
    </header>    
</body>
</html>