<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="application">
</head>
<body>
    <header>
        <nav>   
            <%= link_to "Home", home_index_path, class: 'btn btn-primary' %>
            <%= link_to "Empresas", empresas_path, class: 'btn btn-primary' %>
            <%= link_to "Funcionários", funcionarios_path, class: 'btn btn-primary' %>
            <%= link_to "Setores", setors_path, class: 'btn btn-primary' %>
        </nav>
        
    </header>    
</body>
</html>