<h1>Editing endereco empresa</h1>

<%= render "form", endereco_empresa: @endereco_empresa %>

<br>

<div>
  <%= link_to "Show this endereco empresa", @endereco_empresa %> |
  <%= link_to "Back to endereco empresas", endereco_empresas_path %>
</div>
