<div id="notice">
  <%= notice %>
</div>

<%= render partial: "dados", locals: { funcionario: @funcionario }%>

<div class="Secundarios" id="editarF">
  <%= link_to "Voltar", funcionarios_path, class: 'btn btn-primary' %>
  <%= link_to "Editar funcionário", edit_funcionario_path(@funcionario), class: 'btn btn-primary' %>
</div>
